.App {
  text-align: center;
}
.banner{
  background-color: #ebebeb;
  box-shadow: 0px 0px 3px 3px rgb(8, 100, 0);
  border-radius: 10px;
}
.productCard{
  margin: 2%;
  box-shadow: 1px 0px 5px 1px rgb(133, 133, 133);
}
.formInput{
  border: 2px solid gray;
  border-radius: 3px;
  padding: 3px; 
}
.formInput:focus{
  border: 3px solid rgb(6, 216, 6);
}
.button{
  background: linear-gradient(30deg, #aad160 , #008000 100%);
  border: 1px solid black;
  color: white; 
}
.categoriesBtn{
  background:linear-gradient(100deg, rgb(255, 255, 255) , #ffffff 60%);
  color: green;
  margin: 5px;
  box-shadow: -1px 1px 5px 0px rgb(214, 214, 214);
  font-size: 13px;
}
.categoriesBtn:hover{
  box-shadow: 2px 2px 5px 2px rgb(202, 202, 202);
}
.button:hover{
  background: linear-gradient(30deg, #aad160 , #008000 80%);
  color: #f7ffb1;
}
.buyButton{
  background: linear-gradient(30deg, #d1a460 , rgb(170, 54, 0) 100%);
  border: 1px solid black;
  color: white;
}
.buyButton:hover{
  background: linear-gradient(30deg, #df982e ,rgb(170, 54, 0) 70%);
  color: #f7ffb1;
}
.exploreButton{
  background: linear-gradient(30deg, #ffffff , rgb(255, 255, 255) 100%);
  box-shadow: 1px 1px 5px 1px rgb(0, 192, 0);
  color: rgb(0, 128, 28);
  
  border-radius: 100px;
}
.exploreButton:hover{
  background: linear-gradient(30deg, #aff5b7 , rgb(242, 243, 170) 100%);

}
.descLi{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.cBtn{
  background: linear-gradient( #ffffff , #dfdfdf 100%);
  border: 1px solid rgb(139, 139, 139); 
}
.cBtn:hover{
  background: #dadada83;
  border: 1px solid rgb(110, 110, 110);
}
.lgin:hover{
  border-bottom:2px solid #008000;
  color: #008000;
  font-weight: 700;
}
.productCard:hover{
  transform: scale(1.01);
  transition: transform .3s;
  box-shadow: 1px 0px 10px 1px green;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.donation{
  opacity: 50%;
}
.oldagehome{
  background-image: url(https://i.ibb.co/3k03YyK/sponsor-the-food-expenses-of-poor-senior-citizens-in-an-old-age-home.png);
  opacity: 80%;
}
.oldagehome:hover{
  transform: scale(1.03);
  opacity: 100%;
  box-shadow: 3px 3px 5px 3px rgb(213, 216, 198);
  transition: transform .1s ease-in;
}
.orphanage{
  background-image: url(https://i.ibb.co/Sdt8dcP/orphanage.jpg);
  opacity: 80%;
}
.orphanage:hover{
  transform: scale(1.05);
  opacity: 100%;
  box-shadow: 3px 3px 5px 3px rgb(170, 170, 170);
  transition: transform .1s ease-in;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}